<!-- <!-- <p>addrow works!</p> -->
<div style="width:auto">
    <form autocomplete="off" [formGroup]="addForm">
      <div *ngFor="let obj of searchFields; let i=index">
        <div class="example-container" [ngSwitch]="obj.type">
          <mat-form-field *ngSwitchCase="'text'">
            <input ngDefaultControl matInput placeholder={{obj.headerName}} formControlName={{obj.field}}>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'select'">
            <mat-label>{{obj.headerName}}</mat-label>
            <mat-select formControlName={{obj.field}}>
              <mat-option *ngFor="let selectObj of obj.options" [value]="selectObj.value">
                {{selectObj.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngSwitchCase="'radio'" >
            <h3 class="ag-radio-button">{{obj.headerName}}</h3>
           <mat-radio-group class="ag-radio-group" formControlName={{obj.field}} ngDefaultControl>
            <mat-radio-button class="ag-radio-button" *ngFor="let radioObj of obj.options" [value]="radioObj.value">
              {{radioObj.viewValue}}
            </mat-radio-button>
           </mat-radio-group>
          </div>
          <!-- <div *ngSwitchCase="'checkbox'" >
            <h3 class="ag-radio-button">{{obj.headerName}}</h3>
            <mat-checkbox class="example-margin" [formControlName]="obj.field" [value]="obj.options[0].value">{{obj.options[0].viewValue}}</mat-checkbox>
          </div> -->
        </div>
      </div>
    </form>
  
    <div class="side-nav-btn">
      <!-- <button mat-raised-button color="primary" (click)="search(sideNaveForm.value)">Search</button> -->
      <button mat-raised-button color="warn" (click)="onNoClick()">Submit</button>
      <!-- <button mat-raised-button (click)="reset()">Reset</button> -->
      <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
  </div>