<mat-drawer-container autosize>
<app-spinner *ngIf="importExportService.loadingSpinner"></app-spinner>
<!-- Search Toolbar (Optional)-->
<div *ngIf="includeSearchToolbar">
  <custom-search-toolbar #searchToolbar [appName]="appName" [defaultSearchCriteria]="defaultSearchCriteria" [gridName]="gridName" [userId]="userId" (onSearchCriteriaChange)="refreshGrid($event)"
    (onSearchCriteriaClick)="searchCriteriaClick($event)"></custom-search-toolbar>
</div>
<!--end Search Toolbar (Optional)-->



<div class="grid-container">

  <div class="grid-title-div row-wrap">
    <!--Grid Title and Count. -->
    <span class="grid-title">{{gridName}}
      <span *ngIf="isGridDataAvailable" class="row-count">{{ getRowCount()}}</span>
    </span>
    <!--end Grid Title and Count. -->
    <ng-content select="div.ag-mid-page-info"></ng-content>
    <ng-content select="div.ag-end-page-info"></ng-content>
  </div>
  <!-- Quick Filter -->
  <div class="quick-filter">
    <input type="text" name="Filter" placeholder="Filter..." (input)="externalFilterChanged($event.target.value)" />
    <ng-content select="div.filter-checkbox"></ng-content>
  </div>
  <!--end Quick Filter -->

  <!-- View Action Buttons -->
  <div class='tool-box'>
    <!-- custom Actions -->
    <ng-content select="div.ag-custom-actions"></ng-content>
    <!--end custom Actions -->
    <!--Import Export buttons-->
    <div *ngIf="importExportParam && importExportParam.enableImportExport" class="import-export-btn">
      <button mat-mini-button (click)="import()" title="Import data">
        <mat-icon>publish</mat-icon>
      </button>
      <button mat-mini-button (click)="export()" title="Export data">
        <mat-icon>get_app</mat-icon>
      </button>
    </div>
    <!--Import Export ends-->
    <!-- *ngIf="!featureOptions.exportGridContentToExcel" -->
    <div style="display:inline" *ngIf="featureOptions&&featureOptions.addRow">
      <button mat-mini-button  (click)="addRowDialog()" title="Add Row">
       <mat-icon>add</mat-icon>
     </button>
   </div>
    <div style="display:inline" *ngIf="featureOptions&&featureOptions.exportGridContentToExcel">
     <button mat-mini-button (click)="onGridActionButtonClicked(gridActions.exportToExcel)" title="Export grid contents to Excel" >
      <mat-icon>vertical_align_bottom</mat-icon>
    </button>
  </div>
  <div style="display:inline" *ngIf="featureOptions&&featureOptions.autoSizeColumns">
    <button mat-mini-button (click)="onGridActionButtonClicked(gridActions.autoSizeAllColumns)" title="Auto size columns">
      <mat-icon>flip</mat-icon>
    </button>
  </div>
  <div style="display:inline" *ngIf="featureOptions&&featureOptions.resizeToFit">
    <button mat-mini-button (click)="onGridActionButtonClicked(gridActions.sizeColumnsToFit)" title="Resize to fit">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
  </div>
  <div style="display:inline" *ngIf="featureOptions&&featureOptions.toolPanel">
    <button mat-mini-button (click)="onGridActionButtonClicked(gridActions.toggleToolPanel)" title="Tool panel">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div style="display:inline" *ngIf="featureOptions&&featureOptions.refreshTemplates">
    <button mat-mini-button (click)="onGridActionButtonClicked(gridActions.refreshGrid)" title="Refresh templates">
      <mat-icon>refresh</mat-icon>
    </button>
    </div>
  </div>
  <!--end View Action Buttons -->

  <!-- Grid -->
  <ag-grid-angular class="ag-theme-fresh" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions" [sideBar]="sideBar"
    [frameworkComponents]="frameworkComponents"  [pagination]="pagination" [getNodeChildDetails]="getNodeChildDetails">
  </ag-grid-angular>
  <!--end Grid -->
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>
<mat-drawer #drawer mode="side">
  <!-- <p>Auto-resizing sidenav</p> -->
  <lib-sidenav [searchCriteria]="searchCriteria" [drawer]="drawer" [isOpened]="isDrawerOpened" [searchFields]="searchFields"></lib-sidenav>
</mat-drawer>
</mat-drawer-container>
