
  .grid-title-div {
    margin-top: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
  }

  .grid-title {
    font: bold 1.2em Arial, Geneva, Helvetica, sans-serif;
    display: block;
    margin: 10px;
    margin-left: 0px;
  }

  .quick-filter {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 10px;
  }

  .grid-container {
    width: 98%;
    margin: 0 auto;
  }

  .tool-box{
    float:right;
    margin-bottom: 10px;
    margin-top:-29px;
  }

  .row-count {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: dimgray;
    padding-left: 8px;
    padding-right: 8px;
  }

  .mat-icon {
    font-size: 17px; line-height: 1.5;
  }

  .ag-mid-page-info {
    display: block;
    width: 300px;
  }

  .ag-end-page-info {
    display: block;
    width: 400px;
  }

  .grid-title-div {
    margin-top: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
  }

  .ag-custom-actions {
    display: inline-block;
    margin-right: 20px;
  }

  .selected-preference{
    background-color: #ADD8E6;
    font-weight: 700;
  }

  .ag-cell-focus, .ag-cell {
    border: none !important;
  }

  div.import-export-btn {
    display: inline-block;
    margin-right: 20px;
  }
