<mat-toolbar color="primary" class='mat-toolbar-container'>
  <div class="search-toolbar-container">
    <div class="search-criteria">
      <button class='no-border' (click)="onSearchCriteriaBtnClick($event)">
        <span class="search-btn"> Search Criteria
        </span>
      </button>
      <div class="search-criteria-actions">
        <mat-form-field class='mat-form-select'>
          <mat-select [(value)]="searchToolbarDelegate.selectedSearchView" #singleSelect [compareWith]="searchToolbarDelegate.compareFn"
                      (selectionChange)="searchToolbarDelegate.onSelectionChange($event)" >
            <mat-option *ngFor="let view of searchToolbarDelegate.searchViews; let i=index" [value]="view">
              {{view.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="ag-template-toolbar-action">
        <ul class='icon-group'>
          <li class="icon-left-border">
            <a [class.disabled]="searchToolbarDelegate.isDisabled()" (click)="!searchToolbarDelegate.isDisabled() && searchToolbarDelegate.markUnmarkDefault($event)">
              <mat-icon *ngIf="searchToolbarDelegate.selectedSearchView?.isDefault" title="Unmark As Favourite">star</mat-icon>
              <mat-icon *ngIf="!searchToolbarDelegate.selectedSearchView?.isDefault" title="Mark As Favourite">star_border</mat-icon>
            </a>
          </li>
          <li class="icon-left-border">
            <a [class.disabled]="searchToolbarDelegate.isDisabled()" (click)="!searchToolbarDelegate.isDisabled() && onSearchCriteriaBtnClick($event)">
              <mat-icon title="Edit Search Criteria">edit</mat-icon>
            </a>
          </li>
          <li class="icon-left-border">
            <a [class.disabled]="searchToolbarDelegate.isDisabled()" (click)="!searchToolbarDelegate.isDisabled() && searchToolbarDelegate.onDelete($event)">
              <mat-icon title="Delete Search Criteria">delete_outline</mat-icon>
            </a>
          </li>
          <li class="icon-left-border">
            <a [class.disabled]="searchToolbarDelegate.isDisabled()" (click)="!searchToolbarDelegate.isDisabled() && searchToolbarDelegate.onClone($event)" >
              <mat-icon title="Clone Search Criteria" >file_copy</mat-icon>
            </a>

          </li>
          <li class="icon-left-border">
            <a>
              <mat-icon title="Add New Search Criteria" (click)="searchToolbarDelegate.onAdd($event)">add</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</mat-toolbar>
