.mat-toolbar.mat-primary{
  margin-top: 1rem;
  background-color: #313c42;
  height: 28px;
}
.search-toolbar-container {
  display: flex;
  justify-content: space-between;
}

.search-criteria {
  margin-right: 4rem;
  display: flex;
}
search-criteria button {
  margin-top: 18px;
}
span.search-btn{
  font-size: 12px;
  font-weight: 400;
  /* text-decoration: underline; */
  cursor: pointer;
}

.no-border {
  border: -2px;
  color: black;
  background: white;
  height: 19px;
  line-height: 9px;
  margin-top: 16px;
  padding: 0px;
  width: 100px;
  border-radius: 7px;
}
.search-criteria-actions {
  display: flex;
  margin-left: 30px;
  margin-top: 8px;
  font-size: 12px;
}

ul li a {
  cursor: pointer;
  font-size: 22px;
  padding: 0 5px;
  border-left: 1px solid #48545c;
}

ul li a.disabled {
  cursor: not-allowed;
}

ul li .mat-icon {
  font-size: 18px;
  line-height: 2;
}

.icon-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  margin-top: 8px;
}

.mat-form-select {
  margin-top: -4px;
}

.ag-template-toolbar-action {
  flex: 1 1 auto;
  padding: 0 10px 0 0;
}

li.icon-left-border {
  background-color: transparent;
  cursor: default;
}
