<app-spinner *ngIf="importExportService.loadingSpinner"></app-spinner>
<form name="uploadForm">
  <h1 mat-dialog-title>Upload</h1>
  <div mat-dialog-content>
    <section>
      <label>File</label>
      <input class="mat-form-field" [readonly]="true" [(ngModel)]="fileName" name="fileName"/>
    </section>
    <section>
      <label flex class="mat-primary mat-raised mat-button" mat-ink-ripple for="file-input">
        <span>Choose file</span>
      </label>
      <input [hidden]="true" id="file-input" type="file" ngf-select accept="application/vnd.ms-excel"
             (change)="onFileChange($event)"
             required>
    </section>
    <div *ngIf="success">
      <label>Imported Count: {{importedCount}}</label>
      <label>Updated Count: {{updatedCount}}</label>
      <label>Failed Count: {{failedCount}}</label>
    <a class="grey-button" mat-button mat-raised-button *ngIf="failedCount > 0" (click)="downloadFailed()">
      Download Failed Rows
    </a>
    </div>
  </div>
  <div mat-dialog-actions class="button-group-wrapper">
    <button mat-button mat-raised-button class="primary-button" [disabled]="!file"
            (click)="reset()">Reset
    </button>
    <button mat-button mat-raised-button class="secondary-button" [disabled]="!file" [disabled]="!file"
            (click)=" importData()">Upload
    </button>
    <a class="grey-button" mat-button mat-raised-button (click)="downloadTemplate()">
      Download template
    </a>
    <button mat-button mat-raised-button class="light-button" (click)="close()"> Close</button>
  </div>
</form>
