.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  p.dialog-title{
    font-size: 17px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-weight: bold;
  }

  .searchCriteria {
    width: 100%;
  }