<h1 mat-dialog-title>{{title}}</h1>
<hr/>
<div mat-dialog-content class="form">
  <p class='dialog-title'>{{label}}</p>
  <form [formGroup]="myForm">
    <mat-form-field class="searchCriteria">
      <input matInput formControlName="name" autocomplete="off" [errorStateMatcher]="matcher">
      <mat-error *ngIf="myForm.hasError('isDuplicate')">Duplicate View Name</mat-error>
      <mat-error *ngIf="myForm.hasError('isDefaultViewName')">Can't Save Default View Name</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="save()" color="primary" [disabled]="myForm.errors || myForm.invalid">Save</button>
  <button mat-raised-button (click)="close()">Cancel</button>
</div>
