  <custom-grid-container [includeSearchToolbar]="isSearchToolbarPresent" [featureOptions]="featureOptions" [appName]="'CUSTOM-LIB'" [gridName]='gridName' [rowData]="rowData" [columnDefs]="columnDefs" [searchFields]="searchFields" [userId]="'18054'"
  [gridOptions]="gridOptions" [showSpinner]="showSpinner" (onSearchCriteriaChange)="refreshGrid($event)" (onRefreshClick)="onGridActionButtonClicked($event)">
    <!-- <div class='ag-custom-actions'>
      <button mat-mini-button (click)="add()" title="Create Invitation">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
  </custom-grid-container>
  

