.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .side-nav-btn {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .ag-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .ag-radio-button {
    margin: 5px;
  }
  