$inactive: #aaa;
$active: #aaa;
$speed: 1.2s;
$size: 100px;
$unit: $size / 16;
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
@keyframes spinner {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }
%spinner {
  display: block;
  float: left;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $unit solid $inactive;
  animation: spinner $speed linear infinite;
}

%spinner-double-section,
.spinner-double-section {
  @extend %spinner;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -$unit;
    left: -$unit;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: $unit solid transparent;
    border-top-color: $active;
  }
  &:after {
    border-top-color: transparent;
    border-bottom-color: $active;
  }
}
%spinner-double-section-far,
.spinner-double-section-far {
  @extend %spinner-double-section;

  &:before,
  &:after {
    top: ($unit*-3);
    left: ($unit*-3);
    width: ($size + $unit*4);
    height: ($size + $unit*4);
  }
}
$n: 4;
$m: 10px;
span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); &:nth-child(#{$n}n+1) { clear: both; } }

    p.loading{
        clear: both;
        top: 50%;
        left: 50%;
        font-size: 26px;
        font-weight: bold;
        position: absolute;
        color:$active;
        padding-left: 83px;
        text-align: center;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
          width:100%;
          height: ($size + $unit*5);
    }
