/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/theming'; */
/* @import "../"
 @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; */


ag-grid-angular {
  width: 100%;
  height: 500px;
  display:inline-block !important;
}

.label-text {
  font: 500 12px/20px Roboto,"Helvetica Neue",sans-serif;
  text-align: right;
  font-weight: bold;
}
